<div class="container">

    <h2>{{message}}</h2>
	<div class="row">

		<section class="content">
			<center><h1>Invoices</h1></center>
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-body">
                        
						<div class="table-container">
                            
							<table class="table table-filter">
                                <thead>
                                    <th>Invoice#</th>
                                    <th>CompainID</th>
                                    <th>Username</th>
                                    <th>Traffic</th>
                                    <th>Amount</th>
                                    <th><center>To Date</center></th>
                                    <th><center>From Date</center></th>
                                    <th><center>Payment Date</center></th>
                                    
                                    
                                </thead>
								<tbody>
                                    
									<tr data-status="pagado">
										<td>
											<div class="pagado">
												<p>001</p>
											</div>
										</td>
										 
                                        <td>
											<div class="pagado">
												<p>26584</p>
											</div>
										</td>
                                        
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<h4 class="title">
														Sadain
													</h4>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<h4 class="title">
														<span class="pull-right pagado">5467</span>
													</h4>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													
													<h4 class="title">
                                                        <span class="pull-right pagado">$2000</span>
													</h4>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<span class="media-meta pull-right">September 19, 2017</span>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<span class="media-meta pull-right">September 25, 2017</span>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<span class="media-meta pull-right">September 26, 2017</span>
													
												</div>
                                            </div>
                                        </td>
									</tr>
                                    
                                    
                                    
									<tr data-status="pagado">
										<td>
											<div class="pagado">
												<p>002</p>
											</div>
										</td>
										 
                                        <td>
											<div class="pagado">
												<p>26584</p>
											</div>
										</td>
                                        
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<h4 class="title">
														Sana Arooj
													</h4>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<h4 class="title">
														<span class="pull-right pagado">5467</span>
													</h4>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													
													<h4 class="title">
                                                        <span class="pull-right pagado">$2000</span>
													</h4>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<span class="media-meta pull-right">September 19, 2017</span>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<span class="media-meta pull-right">September 25, 2017</span>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<span class="media-meta pull-right">September 26, 2017</span>
													
												</div>
                                            </div>
                                        </td>
									</tr>
                                    
                                    
									<tr data-status="pagado">
										<td>
											<div class="pagado">
												<p>003</p>
											</div>
										</td>
										 
                                        <td>
											<div class="pagado">
												<p>26584</p>
											</div>
										</td>
                                        
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<h4 class="title">
														Zuraiz
													</h4>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<h4 class="title">
														<span class="pull-right pagado">5467</span>
													</h4>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													
													<h4 class="title">
                                                        <span class="pull-right pagado">$2000</span>
													</h4>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<span class="media-meta pull-right">September 19, 2017</span>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<span class="media-meta pull-right">September 25, 2017</span>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<span class="media-meta pull-right">September 26, 2017</span>
													
												</div>
                                            </div>
                                        </td>
									</tr>
                                    
                                    
                                    
                                    
                                    
                                    
                                </tbody>
							</table>
						</div>
                        
					</div>
				</div>
			</div>
		</section>
		
	</div>
</div>