<div class="container">
    <h2>{{message}}</h2>

    <div class="row">
        <section class="panel panel-default">
        
        <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="article in articles">

            
            <div class="thumbnail">
                <div>
                    <md-switch class="md-primary" ng-model="article.status" aria-label="Switch"
                               ng-change="updateStatus()">
                        Status : {{ article.status }}
                    </md-switch>  
                
                </div>
                <a href="#!/articlestats/{{article.serial_no}}">
                    <img src="{{article.photo_url}}" alt="">
                    <div class="caption">


                        <h4 class="text-justify"><b ng-bind-html="article.title"></b></h4>

                        <h4 class="text-left" style="color: chocolate">
                            {{article.url}}
                        </h4>
                    </div>
                </a>
</div>
            
        </div>
        
 
        </section>
    </div>
</div>