<div class="container">

    <h2>{{message}}</h2>
	<div class="row">

		<section class="content">
			<center><h1>Payements</h1></center>
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-body">
                        
						<div class="table-container">
                            
							<table class="table table-filter">
                                <thead>
                                    <th>CompainID</th>
                                    <th></th>
                                    <th>Username</th>
                                    <th><center>Traffic</center></th>
                                    <th><center>Stats</center></th>
                                    <th><center>Duration</center></th>
                                    <th>Payment Due</th>
                                    
                                </thead>
								<tbody>
									<tr data-status="pagado">
										<td>
											<div class="pagado">
												<p>001</p>
											</div>
										</td>
										 
										<td>
											<div class="media">
												<a href="#" class="pull-left">
													<img src="https://scontent.cdninstagram.com/t51.2885-19/s150x150/19424755_297321304063298_1411761672955101184_a.jpg" class="media-photo">
												</a>	
											</div>
										</td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<h4 class="title">
														Sana Arooj
													</h4>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<h4 class="title">
														<span class="pull-right pagado">(1.3 M)</span>
													</h4>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													
													<h4 class="title">
                                                        <span class="pull-right pagado">(10000 Up)</span>
													</h4>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<span class="media-meta pull-right">September 19, 2017</span>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													
													<h4 class="title">
                                                        <span >$234</span>
                                                        <button type="button" class="btn btn-info btn-xs">Make Payment</button>
                                                    </h4>	
												</div>
                                            </div>
                                            
                                        </td>
									</tr>
                                    
                                    
                                    
                                    
                                    
                                    
                                    <tr data-status="pagado">
										<td>
											<div class="pagado">
												<p>002</p>
											</div>
										</td>
										
										<td>
											<div class="media">
												<a href="#" class="pull-left">
													<img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAqoAAAAJDk3YjI5NzQ5LTBjMDktNDQ0NS1hY2NkLTE2MmM5ZDFhMmUxMA.jpg" class="media-photo">
												</a>	
											</div>
										</td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<h4 class="title">
														Sadain
													</h4>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<h4 class="title">
														<span class="pull-right pagado">(1.7 M)</span>
													</h4>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													
													<h4 class="title">
                                                        <span class="pull-right pagado">(900 Up)</span>
													</h4>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<span class="media-meta pull-right">September 19, 2017</span>
													
												</div>
                                            </div>
                                        </td>
                                        
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													
													<h4 class="title">
                                                        <span >$500</span>
                                                        <button type="button" class="btn btn-info btn-xs">Make Payment</button>
                                                    </h4>	
												</div>
                                            </div>
                                            
                                        </td>
                                        
                                    </tr>
                                    <tr data-status="pagado">
										<td>
											<div class="pagado">
												<p>003</p>
											</div>
										</td>
										
										<td>
											<div class="media">
												<a href="#" class="pull-left">
													<img src="https://lh3.googleusercontent.com/-X3itCrJnCwo/AAAAAAAAAAI/AAAAAAAAABA/nwaRJl8QtTk/s640/photo.jpg" class="media-photo">
												</a>	
											</div>
										</td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<h4 class="title">
														Muhammad Zuraiz
													</h4>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<h4 class="title">
														<span class="pull-right pagado">(2.3 M)</span>
													</h4>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													
													<h4 class="title">
                                                        <span class="pull-right pagado">(1M Up)</span>
													</h4>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<span class="media-meta pull-right">September 19, 2017</span>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													
													<h4 class="title">
                                                        <span >$985</span>
                                                        <button type="button" class="btn btn-info btn-xs">Make Payment</button>
                                                    </h4>	
												</div>
                                            </div>
                                            
                                        </td>
									</tr>
                                    
                                </tbody>
							</table>
						</div>
                        
					</div>
				</div>
			</div>
		</section>
		
	</div>
</div>