<div class="container">

    <h2>{{message}}</h2>
    <h2>Edit Profile</h2>
  	<hr>
	<div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
         <img src="https://scontent.cdninstagram.com/t51.2885-19/s150x150/19424755_297321304063298_1411761672955101184_a.jpg" class="media-photo">
          <h6>Upload a different photo...</h6>
          
          <input type="file" class="form-control">
        </div>
      </div>
      
      <!-- edit form column -->
        
      <div class="col-md-8 personal-info">
          <section class="panel panel-default">
              <header class="panel-heading font-bold">Personal Information</header>
              <br>
        
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-md-3 control-label">Username:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" placeholder="Username">
            </div>
          </div>
             <div class="form-group">
            <label class="col-md-3 control-label">Old password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" placeholder="Old password">
            </div>
          </div>
            <div class="form-group">
            <label class="col-md-3 control-label">New password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" placeholder="New password" >
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Confirm password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" placeholder="Confirm password">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="button" class="btn btn-primary" value="Save Changes">
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancel">
            </div>
          </div>
        </form>
          </section>
      </div>
  </div>
</div>
<hr>