<div class="container-fluid">
  <div class="row" id="mini-charts">
      <div class="col-md-6 col-sm-4"><h2>RealTime</h2></div>
    </div>  
  <ul class="nav nav-tabs" id="adminTab">
      <li class="active"><a data-toggle="tab" href="#summary">Summary</a></li>
  </ul> 
  <div class="tab-content">
      <div class="tab-pane active" id="summary">
        <div class="row">
          <div class="col-md-8 col-md-3 padder-v b-r b-light">
                <span class="fa-stack fa-2x pull-left m-r-sm">
                      <i class="fa fa-circle fa-stack-2x text-info"></i>
                      <i class="fa fa-male fa-stack-1x text-black"></i>
                    </span>
                   <a class="clear" href="#">
                      <span class="h3 block m-t-xs"><strong>52,000</strong></span>
                      <small class="text-muted text-uc">Active Users</small>
                    </a>
                  </div>
     <!--/col-4-->
          <div class="col-sm-8">
              <h4 class="text-center">
                <div class="btn-group btn-toggle realtime"> 
                 <button class="btn btn-xs btn-default">off</button>
                 <button class="btn btn-xs btn-success active">live</button>
                </div>
              </h4>
              <div id="chart1" class="big-chart"></div>
          </div><!--/col-8-->
        </div><!--/row-->
        
          <hr>
       