<div class="container-fluid" style ='background-color: #FFF'>

    <h2>{{message}}</h2>
 <h2>User Stats</h2>
         <div class="col-md-6">
            <section class="panel panel-default">
                    <header class="panel-heading font-bold"><center>User</center></header>
            
            <div class="text-center">
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAqoAAAAJDk3YjI5NzQ5LTBjMDktNDQ0NS1hY2NkLTE2MmM5ZDFhMmUxMA.jpg" alt="" width="150">
            </div>    
               
                    <table class="table" style="width: 100%">
                        
                    <tbody>
                        <tr>
                            <td><left>Username</left></td>
                            <td><right>Sadain</right></td>

                        </tr>
                       
                        <tr>
                            <td>Compain ID</td>
                            <td>007</td>

                        </tr>
                        
                        <tr>
                            <td>Traffic</td>
                            <td>25k</td>

                        </tr>
                        <tr>
                            <td>new Sessions</td>
                            <td>2560</td>

                        </tr>
                    </tbody>
                </table>
            
             </section>
        </div> 
         <div class="col-md-6">
            <section class="panel panel-default">
                    <header class="panel-heading font-bold"><center>Data Graph</center></header>

            
                <div class="caption">
                    <div class="bg-light dk wrapper">
                      <span class="pull-right">Friday</span>
                      <span class="h4">$540<br>
                        <small class="text-muted">+1.05(2.15%)</small>
                      </span>
                      <div class="text-center m-b-n m-t-sm">
                          <div class="sparkline" data-type="line" data-height="65" data-width="100%" data-line-width="2" data-line-color="#dddddd" data-spot-color="#bbbbbb" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="3" data-resize="true" values="280,320,220,385,450,320,345,250,250,250,400,380"></div>
                          <div class="sparkline inline" data-type="bar" data-height="45" data-bar-width="6" data-bar-spacing="6" data-bar-color="#65bd77">10,9,11,10,11,10,12,10,9,10,11,9,8</div>
                      </div>
                    </div>
                    <div class="panel-body">
                      <div>
                        <span class="text-muted">Total:</span>
                        <span class="h3 block">$2500.00</span>
                      </div>
                      <div class="line pull-in"></div>
                      <div class="row m-t-sm">
                        <div class="col-xs-4">
                          <small class="text-muted block">Market</small>
                          <span>$1500.00</span>
                        </div>
                        <div class="col-xs-4">
                          <small class="text-muted block">Referal</small>
                          <span>$600.00</span>
                        </div>
                        <div class="col-xs-4">
                          <small class="text-muted block">Affiliate</small>
                          <span>$400.00</span>
                        </div>
                      </div>
                    </div>
                      
                </div></section></div>
    
    <div class="col-md-8">
            <section class="panel panel-default">
                <header class="panel-heading font-bold"><center>Top Articles</center></header>
						<div class="table-container">
							<table class="table table-filter">
                                <thead>
                                    <th>SNo</th>
                                    <th></th>
                                    <th>Article name</th>
                                    <th><center>Traffic</center></th>
                                    <th><center>Stats</center></th>
                                    <th><center>Date</center></th>
                                    
                                </thead>
								<tbody>
									<tr data-status="pagado">
										<td>
											<div class="pagado">
												<p>1</p>
											</div>
										</td>
										 
										<td>
											<div class="media">
												<a href="#" class="pull-left">
													<img src="https://scontent.cdninstagram.com/t51.2885-19/s150x150/19424755_297321304063298_1411761672955101184_a.jpg" class="media-photo">
												</a>	
											</div>
										</td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<h4 class="title">
														The girl from Ipanima
													</h4>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<h4 class="title">
														<span class="pull-right pagado">(13000)</span>
													</h4>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													
													<h4 class="title">
                                                        <span class="pull-right pagado">(1000 increase)</span>
													</h4>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<span class="media-meta pull-right">September 19, 2017</span>
													
												</div>
                                            </div>
                                        </td>
									</tr>
                               
                                    
                                    <tr data-status="pagado">
										<td>
											<div class="pagado">
												<p>2</p>
											</div>
										</td>
										
										<td>
											<div class="media">
												<a href="#" class="pull-left">
													<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVcxVGC8Fa1wbspSjPOTz3IywOeu67h1pdALrLFkdHUNdp2qgrzw" class="media-photo">
												</a>	
											</div>
										</td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<h4 class="title">
														Christain Bale plays Roman
													</h4>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<h4 class="title">
														<span class="pull-right pagado">(12596)</span>
													</h4>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													
													<h4 class="title">
                                                        <span class="pull-right pagado">(900 Increase)</span>
													</h4>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<span class="media-meta pull-right">September 19, 2017</span>
													
												</div>
                                            </div>
                                        </td>
                                    </tr>
                                    
                                    <tr data-status="pagado">
										<td>
											<div class="pagado">
												<p>3</p>
											</div>
										</td>
										
										<td>
											<div class="media">
												<a href="#" class="pull-left">
													<img src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Donald_Trump_Pentagon_2017.jpg" class="media-photo">
												</a>	
											</div>
										</td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<h4 class="title">
														Donald Trump invades North Korea
													</h4>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<h4 class="title">
														<span class="pull-right pagado">(12150)</span>
													</h4>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													
													<h4 class="title">
                                                        <span class="pull-right pagado">(1265 Increase)</span>
													</h4>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<span class="media-meta pull-right">September 19, 2017</span>
													
												</div>
                                            </div>
                                        </td>
									</tr>
                                    
                                    
                                    <tr data-status="pagado">
										<td>
											<div class="pagado">
												<p>4</p>
											</div>
										</td>
										
										<td>
											<div class="media">
												<a href="#" class="pull-left">
													<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGnwf5YKxYhvD6vBYOvx1REUzPprVNiRQvbjjwCzH_krBslDTwWw" class="media-photo">
												</a>	
											</div>
										</td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<h4 class="title">
														Smoking is injurious to health
													</h4>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<h4 class="title">
														<span class="pull-right pagado">(11150)</span>
													</h4>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													
													<h4 class="title">
                                                        <span class="pull-right pagado">(1265 Increase)</span>
													</h4>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<span class="media-meta pull-right">September 19, 2017</span>
													
												</div>
                                            </div>
                                        </td>
									</tr>
                                    
                                    
                                    <tr data-status="pagado">
										<td>
											<div class="pagado">
												<p>5</p>
											</div>
										</td>
										
										<td>
											<div class="media">
												<a href="#" class="pull-left">
													<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUnKCWnS8nngCO78yGApikxxljC6py4eZ7y_Bjbr8HC8VufLd0uA" class="media-photo">
												</a>	
											</div>
										</td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<h4 class="title">
														5 best things about Pakistan
													</h4>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<h4 class="title">
														<span class="pull-right pagado">(10500)</span>
													</h4>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													
													<h4 class="title">
                                                        <span class="pull-right pagado">(1265 Increase)</span>
													</h4>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<span class="media-meta pull-right">September 19, 2017</span>
													
												</div>
                                            </div>
                                        </td>
									</tr>
                                    
                                </tbody>
							</table>
						</div>    
            </section></div>
    
                <div class="col-md-4">
            <section class="panel panel-default">
                <header class="panel-heading font-bold"><center>Payments</center></header>   
                <!-- payement -->
                <div>
                    <table class="table" style="width: 100%">
                        
                    <tbody>
                        <tr>
                            <td><left>Payement Due</left></td>
                            <td><right>$59</right></td>

                        </tr>
                        <tr>
                            <td>Payment Done</td>
                            <td>$2000</td>

                        </tr>
                        <tr>
                            <td>Average payment per month</td>
                            <td>25k</td>

                        </tr>
                        
                    </tbody>
                </table> 
                </div> 
                  </section></div>
    
         <div class="col-md-4">
                 <section class="panel panel-default">
                     <header class="panel-heading font-bold"><center>Payment Invoice</center></header> 
							<table  class="table" style="width: 100%">
                                <thead>
                                    <th>Invoice Number</th>
                                    <th>Username</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                    
                                </thead>
								<tbody>
									<tr data-status="pagado">
										<td>
											<div class="pagado">
												<p>1</p>
											</div>
										</td>
										 
										<td>
											<div class="media">
												<span>Sadain</span>	
											</div>
										</td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<h5 class="title">
														$295
													</h5>
													
												</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body">
													<span>19 Sep, 2017</span>
													
												</div>
                                            </div>
                                        </td>
									</tr>
                                </tbody>
                        </table>
                  </section></div>
            
        
    
     
    
        
            
             
                <!-- payement invoices -->
         

    
</div>