<nav class="navbar navbar-default" style="margin-bottom: 0px; background: url(images/head.png); background-size:100%;">
    <div class="container-fluid">
        <div class="navbar-header">



            <a href="#" class="navbar-brand" style="color: white">Digital Marketing</a>



        </div>


        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main-collapse">
            <i class="fa fa-bars" style="color:white;"></i>
        </button>
        <div>






            <ul class="nav navbar-nav pull-right userbtn">
                <li class="dropdown">

                    <a href="#" class="navbar-toggle userbtn" data-toggle="dropdown">
                        <img class="img-circle userImage" src="images/download.jpg" style="width:20px"><span class="username">
                            {{username}}
                        </span>
                    </a>
                    <ul class="dropdown-menu" style="background-color: white">
                        <li>
                            <a href="Overview.html">
                                <i class="fa fa-user">
                                    <b class="bg-success"></b>
                                </i>
                                <span class="text">Profile</span>
                            </a>
                        </li>
                        <hr style="margin: 0px; border-color: #eaeaea">
                        <li>
                            <a ng-click="logout()">
                                <i class="fa fa-search ">
                                    <b class="bg-success"></b>
                                </i>
                                <span  class="text">Sign Out</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>

    </div>
</nav>

<div class="wrapper">


    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 collapse" id="navbar-main-collapse">

        <!--
            Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
            Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
        -->

        <div class="sidebar-wrapper  hidden-md hidden-lg">
            <ul class="nav">
                <li ng-click='makeActive("/profile")' ng-class="{ 'active-o': active=='/profile'}">
                    <a href="Articles.html">
                        <img class="img-circle" style="width: 20px;" src="download.jpg">
                        <span class="text">
                            {{username}}
                        </span>
                    </a>
                </li>
                <hr style="margin: 0px; border-color: white">
                <li ng-click='makeActive("/dashboard")' ng-class="{ 'active-o': active=='/dashboard'}">
                    <a ui-sref="dashboard.home">
                        <i class="fa fa-search aria-hidden=" true"">
                            <b class="bg-success"></b>
                        </i>
                        <span class="text">OVERVIEW</span>
                    </a>
                </li>
                <li ng-click='makeActive("/articles")' ng-class="{ 'active-o': active=='/articles'}">
                    <a ui-sref="dashboard.articles">
                        <i class="fa fa-pencil-square-o icon">
                            <b class="bg-success"></b>
                        </i>
                        <span class="text">SHARED ARTICLES</span>
                    </a>
                </li>
                <li ng-click='makeActive("/stats")' ng-class="{ 'active-o': active=='/stats'}">
                    <a href="Statistics.html">
                        <i class="fa fa-pie-chart icon">
                            <b class="bg-success"></b>
                        </i>
                        <span class="text">STATISTICS</span>
                    </a>
                </li>
                <li ng-click='makeActive("/ums")' ng-class="{ 'active-o': active=='/ums'}">
                    <a href="Marketing Sources.html">
                        <i class="fa fa-rocket icon">
                            <b class="bg-success"></b>
                        </i>
                        <span class="text">MARKETING SOURCES</span>
                    </a>
                </li>
                <li ng-click='makeActive("/pays")' ng-class="{ 'active-o': active=='/pays'}">
                    <a href="Payment.html">
                        <i class="fa fa-briefcase">
                            <b class="bg-success"></b>
                        </i>
                        <span class="text">PAYMENT</span>
                    </a>
                </li>
                <hr style="margin: 0px; border-color: white">
                <li ng-click='makeActive("/logout")' ng-class="{ 'active-o': active=='/logout'}">
                    <a ng-click="logout()">
                        <i class="fa fa-briefcase">
                            <b class="bg-success"></b>
                        </i>
                        <span  class="text">Logout</span>
                    </a>
                </li>
            </ul>

        </div>
    </div>


    <div class="sidebar hidden-xs">

        <!--
            Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
            Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
        -->

        <div class="sidebar-wrapper">
            <ul class="nav">
                <li ng-click='makeActive("/dashboard")' ng-class="{ 'active-o': active=='/dashboard'}">
                    <a ui-sref="dashboard.home">
                        <i class="fa fa-search aria-hidden=" true"">
                            <b class="bg-success"></b>
                        </i>
                        <span class="text">OVERVIEW</span>
                    </a>
                </li>
                <li ng-click='makeActive("/articles")' ng-class="{ 'active-o': active=='/articles'}">
                    <a ui-sref="dashboard.articles">
                        <i class="fa fa-pencil-square-o icon">
                            <b class="bg-success"></b>
                        </i>
                        <span class="text">SHARED ARTICLES</span>
                    </a>
                </li>
                <li ng-click='makeActive("stats")' ng-class="{ 'active-o': active=='stats'}">
                    <a href="Statistics.html">
                        <i class="fa fa-pie-chart icon">
                            <b class="bg-success"></b>
                        </i>
                        <span class="text">STATISTICS</span>
                    </a>
                </li>
                <li ng-click='makeActive("ums")' ng-class="{ 'active-o': active=='ums'}">
                    <a href="Marketing Sources.html">
                        <i class="fa fa-rocket icon">
                            <b class="bg-success"></b>
                        </i>
                        <span class="text">MARKETING SOURCES</span>
                    </a>
                </li>
                <li ng-click='makeActive("pays")' ng-class="{ 'active-o': active=='pays'}">
                    <a href="Payment.html">
                        <i class="fa fa-briefcase">
                            <b class="bg-success"></b>
                        </i>
                        <span class="text">PAYMENT</span>
                    </a>
                </li>
            </ul>

        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main-panel main-panel-margin">



        <ui-view></ui-view>

    </div>




    <div class="col-md-3 chat widthchat hidden-xs hidden-sm" style="float:right"> Chat Section</div>
</div>