
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main-panel main-panel-margin">
    <div class="col-md-12 widthpanel">
        <section class="panel panel-default panmain">
            <div class="row">

                <div class="col-md-4 b-r">
                    <a class="clear">
                        <span class="h3 block m-t-xs sm1"><center><strong style="color: #34c9ff">{{today_earned| currency:"USD$"}} </strong></center></span>
                        <div layout="row" layout-sm="column" layout-align="space-around">
                            <md-progress-circular md-mode="indeterminate" class="md-hue-2" md-diameter="15px" ng-show="dailyIsLoading"></md-progress-circular>
                        </div>
                        <small class="text-muted text-uc " style="color: #a3a3a3"><center>EARNED TODAY</center></small>

                    </a>
                </div>
                <div class="col-md-4 b-r">

                    <a class="clear">
                        <span class="h3 block m-t-xs sm1"><center><strong style="color: #bc49ff">{{monthly_earned| currency:"USD$"}} </strong></center></span>
                        <div layout="row" layout-sm="column" layout-align="space-around">
                            <md-progress-circular md-mode="indeterminate" class="md-hue-2" md-diameter="15px" ng-show="monthlyIsLoading"></md-progress-circular>
                        </div>
                        <small class="text-muted text-uc " style="color: #a3a3a3"><center>EARNED THIS MONTH</center></small>
                    </a>
                </div>
                <div class="col-md-4">

                    <a class="clear">
                        <span class="h3 m-t-xs sm1"><center><strong style="color: #6344ff"> {{$parent.abbreviate(sessions)}} </strong></center></span>
                        <div layout="row" layout-sm="column" layout-align="space-around">
                            <md-progress-circular md-mode="indeterminate" class="md-hue-2" md-diameter="15px" ng-show="monthlyTrafficIsLoading"></md-progress-circular>
                        </div>
                        <small class="text-muted text-uc " style="color: #a3a3a3"><center>THIS MONTH'S TRAFFIC</center></small>
                    </a>
                </div>
            </div>
        </section>

        <div class="bar">
            <ul class="nav nav-tabs" id="Tab">
                <li class="active"><a class=" maintab " data-toggle="tab" ng-click="_category = 'premium'">Premium</a></li>
                <li><a class="maintab" data-toggle="tab" ng-click="_category = 'non-premium'">Non Premium</a></li>
            </ul>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-cat-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <section class="panel panel-default panmain">
                <div style="margin-bottom: 20px"><p>TOP ARTICLES</p></div>

                <nav class="navbar navbar-default navbar-collapse collapse" id="navbar-cat-collapse">


                    <ul class="nav navbar-nav" style="display: inline;">
                        <li class="outline"  ng-click='makeActive("Political")' ng-class="{ 'active': active=='Political'}"><a class="tabpad" ng-click="_sub_category = 'Political'">All</a></li>
                        <li class="outline"  ng-click='makeActive("Entertainment")' ng-class="{ 'active': active=='Entertainment'}"><a class="tabpad" ng-click="_sub_category = 'Entertainment'">Entertainment</a></li>
                        <li class="outline"  ng-click='makeActive("Sports")' ng-class="{ 'active': active=='Sports'}"><a class="tabpad" ng-click="_sub_category = 'Sports'">Sports</a></li>
                        <li class="outline"  ng-click='makeActive("Health")' ng-class="{ 'active': active=='Health'}"><a class="tabpad" ng-click="_sub_category = 'Health'">Health & Food</a></li>
                        <li class="outline"  ng-click='makeActive("Showbiz")' ng-class="{ 'active': active=='Showbiz'}"><a class="tabpad" ng-click="_sub_category = 'Showbiz'">Showbiz</a></li>
                        <li class="outline"  ng-click='makeActive("Motivation")' ng-class="{ 'active': active=='Motivation'}"><a class="tabpad" ng-click="_sub_category = 'Motivation'">Motivation</a></li>
                        <li class="outline"  ng-click='makeActive("News")' ng-class="{ 'active': active=='News'}"><a class="tabpad" ng-click="_sub_category = 'News'">News</a></li>

                    </ul>
                    <select class="tabpad dropdownCat text" style="font-style: oblique;
    opacity: .5;" ng-model="selectedOrder" ng-options="o.value as o.label for o in order"></select>


                </nav>



                <div class="container-fluid">

                    <div ng- class="col-md-12 col-sm-12">
                        <div layout="row" layout-sm="column" layout-align="space-around">
                            <md-progress-circular md-mode="indeterminate" ng-show="isLoading"></md-progress-circular>
                        </div>
                        <div class="col-md-4 col-sm-12" ng-repeat="article in articles | articlefilter: {_category, _sub_category}    | orderBy : selectedOrder : true">
                            <div class="col-xs-12 col-md-12 col-sm-12 ok pan">
                                <div id="articleImageDiv" class="col-md-12 col-sm-6" style="padding: 0px 0px 0px 0px;">

                                    <img class="img-responsive" src={{article.photo_url}}>
                                    <div class="overlay">
                                        <div class="textt"><i class="fa fa-eye" aria-hidden="true"></i><p style="font-size: 10px;">VIEWS</p> <p style="color: deepskyblue">{{ $parent.abbreviate(article.views)}}</p> </div>
                                        <div class="txt"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><p style="font-size: 10px;">SHARES</p><p style="color: deepskyblue">{{$parent.abbreviate(article.shares)}}</p></div>
                                    </div>

                                </div>

                                <div class="col-md-12 col-sm-6 bottom">

                                    <p style="font-size: 10px;float: left;padding-top:  5px">{{article.modified_date | date: "fullDate"}}</p><br>
                                    <p class="pArt" style="text-align:left;" ng-bind-html="article.title"></p>

                                    <hr class="h-line" style="margin-top: 1em">
                                    <p class="copy">Article by:{{article.site_name }} </p>

                                    <a class="btn" ng-click="openModal('custom-modal-2')"> <span class="fa fa-share-alt" aria-hidden="true"></span> </a>
                                    <a class="btn" ng-click="insertCopied($event)"><span class="fa fa-link" aria-hidden="true"></span></a>

                                </div>
                            </div>

                        </div>



                    </div>
                </div>
            </section>

        </div>
    </div>
</div>


<!-- this is modal-->
<modal id="custom-modal-2">
    <center>
        <div class="modal" style="display: grid">
            <div class="modal-body" style="width: 60%">
                <div class="row">
                    <span class="btn" style="color: red;" ng-click="closeModal('custom-modal-2');"><i class="fa fa-window-close" aria-hidden="true"></i></span>

                    <h6>ADD MARKETING SOURCE</h6>


                    <hr style="margin : 0px">
                    <md-progress-linear md-mode="indeterminate" ng-hide="!sharing"></md-progress-linear>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 marketingSourceDiv" ng-repeat="s in addedUms">
                        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                            <div id="imageDivMS" class="col-lg-4 col-md-6 col-sm-5 col-xs-6">
                                <img id="msimage" src={{s.picture.data.url}} height="100%" width="100%">
                            </div>
                            <div id="MSTitleDiv" class="col-lg-8 col-md-6 col-sm-7 col-xs-6">


                                <center><h4 class="title2">{{s.name}}<br><span id="categoryby" class="text-muted">Category:{{s.category}}</span></h4></center>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding: 15px 1em">

                                <span class="h3 block m-t-xs">
                                    <center>

                                        <i class="fa fa-thumbs-o-up" aria-hidden="true" style="margin: 8px; color: #3dcaff;"></i>
                                        <strong style="color: #3dcaff; font-size: 12pt;">

                                            <br> {{$parent.abbreviate(s.fan_count)}}
                                        </strong>
                                    </center>
                                </span>

                                <center>
                                    <small class="text-muted text-uc" style="font-size: 7pt; margin : 12px 0px 0px 0px;">LIKES</small>
                                </center>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding:15px 1em">
                                <span class="h3 block m-t-xs">
                                    <center>

                                        <i class="fa fa-star" aria-hidden="true" style="margin: 8px; color: #ffb400;"></i>
                                        <strong style="color: #ffb400; font-size: 12pt;">

                                            <br> {{s.overall_star_rating || "0"}}
                                        </strong>
                                    </center>
                                </span>

                                <center>
                                    <small class="text-muted text-uc" style="font-size: 7pt; margin : 12px 0px 0px 0px;">Rating</small>
                                </center>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding: 3em 4em 2.5em 1em">
                                <div ng-hide="sharing" ng-click="insertShared()" class="sharebtn">

                                </div>
                            </div>

                        </div>
                    </div>
                    <div layout="row" layout-sm="column" layout-align="space-around">
                        <md-progress-circular md-mode="indeterminate" class="md-hue-2" md-diameter="100px" ng-show="umsLoading"></md-progress-circular>
                    </div>
                </div>

            </div>
        </div>
    </center>
    <div class="modal-background"></div>
</modal>




<script type="text/ng-template" id="copyArticle.tmpl.html">




    <md-dialog aria-label="Success Message" class="modal-dialog" style="width: 800px;">

        <!-- Modal content-->
        <!-- Modal content-->
        <div class="modal-content" style="height: 15em;border-radius: 0;">
            <div class="modal-header" style="border-bottom: 0">
                <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>

            </div>
            <div class="modal-body" style="padding: 3em 0em;">
                <div class="col-lg-12 col-md-12" style="margin-top: 0.5em">
                    <div class="col-md-2">
                        <p style="font-size: 10pt;text-align: center;font-family: lato-regular;padding-bottom: 5px;margin-right: 1em;margin-top: .4em">Article link</p>
                    </div>
                    <div class="col-md-8" style="background-color: white">
                        <input ng-model="url" ng-disabled="true" required style="width: 100%;background-color: #f5f5f5;border-radius: 5px 0px 0px 5px;border: 0;height: 30px;margin-bottom: 0"></input>

                    </div>

                    <div class="col-md-2" style="background-color: white">
                        <button type="button" ng-click="copy()" style="float:left; border: none; border-radius: 0px 8px 8px 0px; background-color: #34c9ff;color: #fff;  width: 8em;height: 31px;font-size: 8pt;margin-left: 0%">Copy</button>

                    </div>
                </div>

            </div>

        </div>
    </md-dialog>

</script>