

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main-panel main-panel-margin">


    <section class="panel panel-default panmain" style="margin: 0">
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 xsp b-r">

                <small class="text-muted text-uc secPayment1 " style="color: #a3a3a3;">Welcome</small><br>

                <span class="h3 block m-t-xs sm1 secPayment1a">{{username}}</span>

                <hr id="linePaymentWelocome">

                <small class="text-muted text-uc secPayment1">{{id}}</small>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12  xsp b-r">

                <a class="clear">
                    <small class="text-muted text-uc " style="color: #a3a3a3;padding-left: 2.5em">Total Earned</small><br>

                    <span class="h3 block m-t-xs sm1" style="color:#c064f8;font-size: 1.8em;padding-left: 1em">{{totalEarned}}</span>

                    <hr style="margin:1em 6em 0em 2em">

                </a>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 xsp">

                <a class="clear">

                    <small class="text-muted text-uc " style="color: #a3a3a3;padding-left: 2.5em">Last Payment</small><br>

                    <span class="h3 block m-t-xs sm1" style="color:#6445ff; font-size: 1.8em; padding-left: 1em"> {{lastPayment}} <i class="fa fa-bar-chart" aria-hidden="true"></i></span>

                    <hr style="margin:1em 6em 0em 2em">

                </a>
            </div>
        </div>
    </section>
    <div class="bar">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12" style="margin-top: 1.5em; margin-left: 5em; margin-bottom: 3em;">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding: 2em 2em 1em 2em">

                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    </div>


                </div>


            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">



                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="trafficgenerated" style="padding-left: 2em;">
                        <center>
                            <p id="trafficbox">{{totalTraffic}} </p>
                            <p id="trafficbox" style="font-size: 10pt">TOTAL TRAFFIC GENERATED</p>
                            <button type="button" id="viewbutton" ng-click="changeClass()">VIEW TRAFFIC</button>
                        </center>
                    </div>


                    <hr class="verticalline hidden-xs hidden-sm">

                </div>
                <!--<div class=" col-md-12 col-sm-12 col-xs-12 verticalline hidden-xs"></div>-->


                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">


                    <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12" id="moneygenerated" style="padding-left: 2em;">
                        <center>
                            <p id="trafficbox">{{availablePayment}} </p>
                            <p id="trafficbox" style="font-size: 10pt">Available Balance </p>
                            <button type="button" id="withdrawbutton" ng-click="makePayment()">WITH DRAW</button>
                        </center>

                    </div>



                </div>
            </div>


        </div>




        <center><h6 style="color:#878787;">Statistics</h6></center>
        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" id="fromDiv"><b>From</b></div>
                <div id="datetimepicker" class=" input-append date col-xs-3 col-sm-3 col-md-3 col-lg-4">


                    <md-datepicker style="background: transparent;" ng-model="from" md-placeholder="From Date"></md-datepicker>
                </div>
            </div>
            <div class="row col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" id="toDiv"><b>To</b></div>
                <div id="datetimepicker" class=" input-append date col-xs-3 col-sm-3 col-md-3 col-lg-4">

                    <md-datepicker style="background: transparent;" ng-model="to" md-placeholder="To Date"></md-datepicker>
                </div>
            </div>

        </div>

        <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 1em 2em 8em 2em">
            <table class="responsive" style="width: 100%;">
                <tr style="border-bottom: 1px solid;border-color: #DCDCDC;">
                    <th id="paymenttable">PAYMENT ID</th>
                    <th id="paymenttable">DATE</th>

                    <th id="paymenttable">TRAFFIC</th>
                    <th id="paymenttable">AMOUNT</th>
                    <th id="paymenttable">STATUS</th>
                </tr>
                <tr ng-repeat="h in history | dateFilter: from : to | orderBy: payment_date :true ">
                    <td id="paymenttable">{{h.invoice_id}}</td>
                    <td id="paymenttable">{{h.payment_date}}</td>

                    <td id="paymenttable">{{h.traffic}}</td>

                    <td id="paymenttable">{{h.amount}}</td>

                    <td id="paymenttable">pending</td>
                </tr>

            </table>

        </div>


    </div>

    </div>





