<!--<div>
    <button type="button" id="login" ng-click="googleLogin()">login</button>
    <pre>auth available: <span id="login_status" ng-bind="auth"></span></pre>
    <pre>username: <span id="api_first_name" ng-bind="googleUser.name"></span></pre>
</div>
    -->

<div class="container-fluid loginmaindiv" style="background-image: url(images/Background.png);">
    <div class="col-lg-4 col-md-4 col-sm-2 col-xs-12"></div>

    <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
        <section class="loginsection" >


            <div style="text-align: center;padding:6.3em 0em;">

                <p class="loginpara">LOGIN TO</p>
                <p class="loginsubpara">ORLOZ NETWORK</p>
                    <div  class="row text-center" style="margin:0em 1em">
                        <div id="fbicon" ng-click="googleLogin()">
                        </div>
                    </div>
                <p id="termspara">By logging in, you agree with our Terms of Service, Privacy <br>Policy and Community Guidelines.</p>

            </div>

        </section>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-2 col-xs-12"></div>


</div>
